@use "./theme";

#addButton {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: fixed;
    z-index: 3;
    bottom: calc(56px / 2);
    left: calc(50% - 30px);
    border: none;
    background-color: theme.$color-primary;
    svg {
        height: 30px;
        width: 30px;
    }
}
