@use "./theme";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "-apple-system", "BlinkMacSystemFont", '"Segoe UI"', "Roboto",
        '"Helvetica Neue"', "Arial", "sans-serif", '"Apple Color Emoji"',
        '"Segoe UI Emoji"', '"Segoe UI Symbol"';
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    background-color: theme.$color-dark;
}

#page {
    // height: 100%;
    max-height: calc(100vh - 56px);
    overflow: scroll;
    width: 100%;
}

.MuiBottomNavigation-root {
    bottom: 0;
    position: fixed;
    width: 100vw;
    a,
    button {
        background-color: black;
        color: white;
        max-width: unset;
    }
}
