@use "./theme";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "-apple-system", "BlinkMacSystemFont", '"Segoe UI"', "Roboto",
        '"Helvetica Neue"', "Arial", "sans-serif", '"Apple Color Emoji"',
        '"Segoe UI Emoji"', '"Segoe UI Symbol"';
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    background-color: theme.$color-dark;
}

#page {
    padding-top: 30px;
    max-height: calc(100vh - 56px);
    overflow: scroll;
    width: 100%;
}

.MuiBottomNavigation-root {
    bottom: 0;
    position: fixed;
    width: 100vw;
    a,
    button {
        background-color: black;
        color: white;
        max-width: unset;
    }
}

button#undo {
    $width: 140px;
    height: 56px;
    width: $width;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: calc((100vw / 2) - ($width / 2));
    transition: bottom 0.3s ease-in-out;
    &.hidden {
        bottom: -70px;
    }
}
