@use "./theme";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "-apple-system", "BlinkMacSystemFont", '"Segoe UI"', "Roboto",
        '"Helvetica Neue"', "Arial", "sans-serif", '"Apple Color Emoji"',
        '"Segoe UI Emoji"', '"Segoe UI Symbol"';
}

html {
    position: fixed;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    background-color: theme.$color-dark;
}

#page {
    padding-top: 30px;
    max-height: calc(100vh - 56px);
    overflow: scroll;
    width: 100%;
}

#loadingData {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiBottomNavigation-root {
    bottom: 0;
    position: fixed;
    width: 100vw;
    a,
    button {
        background-color: black;
        color: white;
        max-width: unset;
    }
}

#undoButtons {
    $width: 140px;
    height: 56px;
    width: $width;
    position: fixed;
    bottom: 0;
    left: calc((100vw / 2) - ($width / 2));
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    button#undo,
    button#redo {
        background-color: transparent;
        border: none;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        width: 30px;
        height: 30px;
        margin: 0 20px;
        &.hidden {
            margin: 0 0;
            bottom: -70px;
            width: 0px;
            height: 0px;
            // position: absolute;
        }
    }
}
