@use "./theme";

#cardContainer {
    height: auto;
    overflow: scroll;
    #cardList {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
.cardContainer {
    min-height: 200px;
    position: relative;

    .cardBackgroundContainer {
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 0;
        background: theme.$color-dark-tint;
        border-radius: 20px;
        div,
        .cardBackground {
            height: 100%;
            width: 100%;
            // background: theme.$color-dark-tint;
            border-radius: 20px;
        }
    }

    $transTime: 0.3s;
    a {
        z-index: 2;
        position: absolute;
        .dayCard {
            min-height: 200px;
            height: 200px;
            // background: theme.$color-dark-tint;
            border-radius: 10px;
            padding: 20px;
            display: flex;
            align-items: center;
            flex-direction: column;
            transition: all 0.3s ease-in-out;
            width: calc(100vw - 40px);
            div > h2 {
                position: relative;
                color: white;
                z-index: 2;
            }
        }
    }
}

.cardBackground {
    height: 100% !important;
    width: 100% !important;
    background: theme.$color-dark-tint;
    border-radius: 20px;
}
